/*courtesy of http://stackoverflow.com/questions/14263594/how-to-show-text-on-image-when-hovering */
.imgWrap {
  position: relative;
  height: 130px;
  width: 120px;
}

.imgDescription {
  position: absolute;
  top: 0;
  bottom: 10;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  text-align: center;


  visibility: hidden;
  opacity: 0;

  /*remove comment if you want a gradual transition between states
  -webkit-transition: visibility opacity 0.2s;
  */
}


.imgWrap:hover .imgDescription {
  visibility: visible;
  opacity: 1;
}
.setSize {
  width: 120px;
  height: 120px;
}
